.image-container {
  display: flex;
  justify-content: center;
}

h2 {
  background-color: #3f525c;
  padding: 1rem;
  font-size: 3rem;
  text-decoration: underline;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: black;
  background-color: springgreen;
}

.intro-txt {
  position: absolute;
  top: 20%;
  text-align: 50%;
  border-radius: 5%;
}

.answer{
  position: absolute;
  top: 30%;
  text-align: 50%;
  border-radius: 5%;
}

.submitbutton {
position: absolute;
top: 85%;
display: inline-block;
position: absolute;
color: white;
background-color: #00a2fa;
text-align: center;
padding: 15px 75px;
font-size: 30px;
cursor: pointer;
border-radius: 15%;
transition-duration: 0.5s;
}

.submitbutton:hover {
  background-color: #18628a;
}

.chart1{
  position: absolute;
  width:430px !important;
  background-color: springgreen;
  top: 40%;
  left: 5%;
  text-align: 50%;
  border-radius: 5%;
}

.chart2{
  position: absolute;
  width:430px !important;
  background-color: springgreen;
  top: 40%;
  right: 5%;
  text-align: 50%;
  border-radius: 5%;
}

.PAPER1{
  position: absolute;
  top: 30%;
  left: 15%;
  border-radius: 5%;
}

.PAPER2{
  position: absolute;
  top: 30%;
  right: 15%;
  border-radius: 5%;
}

h3{
  position: absolute;
  top: 45%;
  text-align: 50%;
  border-radius: 5%;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  color: black;
  background-color: springgreen;
  width: 20rem;
}

