<html>
<head>
  <style>
    body {
      background-color: rgba(143, 105, 180);
    }
  </style>
</head>
<body>
  <div class="image-container">
    <img [src]="homePageUrl">
    <h2 class="title">
      Know The News
    </h2>
    <h1 class="first-txt">
      Can you match tweets to their tabloids?
    </h1>
    <h3>
      Know The News is a quiz which challenges users to match two headlines
      with the two newspapers that wrote them. Both headlines will refer to the same subject,
      but as you will see, the headlines vary significantly in content and tone.
      As such, the aim of this quiz is to educate users on bias in the media.
    </h3>
    <button class="startButton" onclick="location.href = '/topicpage'" type="button"><span>Start</span></button>
  </div>
</body>
</html>
